@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

html{
  scroll-behavior: smooth;
  scrollbar-color: orange;
  scrollbar-width: thin;
}

.animate-hack{
  animation: pulse 1.2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.7);
  }
  100% {
    filter: brightness(1);
  }
}
.glowing {
  animation: glow 1s ease-in-out infinite ;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}



::-webkit-scrollbar{
  display: none;
}